.cardRow {
    display: flex;
    justify-content: center;
}

.cardBody {
    background-color: #e2e2e2;
    padding: 30px;
    border-radius: 20px;
}

.inputDiv {
    margin-block: 0.5em;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: #474747;
}

.btn {
    width: 100%;
    margin-block: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.title {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .cardBody {
        background-color: transparent;
    }

    .title {
        color: white;
        font-size: 40px;
    }

    .label {
        color: white;
    }
}