.cardBg {
    position: relative;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.location {
    font-size: 1em;
    text-align: justify;
}

.icon {
    position: absolute;
    margin-left: 0.4em;
    left: 0;
    top: 0;
}
