.cardBg {
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.4em;
}

.location {
    font-size: 1em;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}