.home {
    margin-top: 1%;
    padding: 0;
}

.container {
    padding: 0;
    padding-inline: 2em;
}

.col {
    padding: 0;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.localButton {
    background-color: transparent;
    border: 0;
}

.select {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.select option {
    color: black;
    background-color: white;
}

@media screen and (max-width: 576px) {
    .home {
        padding: 15px;
    }
}