.container {
    padding: 0;
    padding-inline: 2em;
}

.col {
    padding: 0;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}